/*GENERAL*/
a {
    color: #444;
    text-decoration: none;
}
a:hover 
{
     color:#888; 
     text-decoration:none; 
     cursor:pointer;  
}
body{
margin : 0;
}
div{
//    border: 1px solid grey;
       margin-top: 1em;
}
/*HEADERS*/
.resume {
    position : absolute;
    width: 100%;
    max-width: 1024px;
}
.resume > .coords, .resume > .title{
    width: 40%;
    text-align: center;
    margin: 1em 4em 1em 4em;
}

.coords .name,.resume > .title {
   font-size: 1.2em;
   font-weight: bold;
 }

.resume > .title{
   position: absolute;
   right: 0;
   top: 0;
 }

.coords span, .title span {
    display: block;
}

/* short description*/
.short.description{
    margin: 2em 2em 2em 2em;
    padding: .5em 1.5em .5em 1.5em;
    border: 1px solid black;
    background-color: #DDD;
    display: inline-block;
}
.short.description p {
    margin: 0 0 .1em 0em;
}

.short.description .keyword{
    font-weight: bold; 
}