body{
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    margin: 0;
}

.hidden, .hiddenOld {
    display: none;
}

header {
    border: 1px solid black;
    position: fixed;
    width: 100%;
    max-width: 1024px;
    background-color: #444444;
    height : 2.5em;
    opacity : 1;
    z-index: 1000;
}

header a{
    display : inline-block;
    margin : .6em 0 .6em 1em;
    color: white;
}

.animation {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -moz-animation-fill-mode:forwards
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.animationOn {
    -webkit-animation-name: animationOn;
    -moz-animation-name: animationOn;
    animation-name: animationOn;
}
.animationOff {
    -webkit-animation-name: animationOff;
    -moz-animation-name: animationOff;
    animation-name: animationOff;
}

@-webkit-keyframes animationOn{
    from  {margin-left: -100%}
    to  {margin-left: 0}
}
@-webkit-keyframes animationOff {
    from  { margin-left: 0}
    to  { margin-left: -100%}
}
@-moz-keyframes animationOn{
    from  {margin-left: -100%}
    to  {margin-left: 0}
}
@-moz-keyframes animationOff {
    from  { margin-left: 0}
    to  { margin-left: -100%}
}
@keyframes animationOn {
    from  {margin-left: -100%}
    to  {margin-left: 0}
}
@keyframes animationOff {
    from  { margin-left: 0}
    to  { margin-left: -100%}
}

.resume {
    font-size: 1em;
    margin: 4em 0 0 0;
    position : absolute;
    max-width: 1024px;
    padding-bottom: 1em;
}

a {
    color: #444;
    text-decoration: none;
    display: block;
}
a:hover
{
    color:#888;
    text-decoration:none;
    cursor:pointer;
}

.keyword{
    font-weight: bold;
    white-space:nowrap;
}

.resume ul {
    list-style-type: none;
    display: inline-block;
}

.resume li{
    display: inline;
    font-style: italic;
    white-space:nowrap;
}

.resume li:after{
    content : ", "
}
.resume li:last-child:after{
    content : "."
}

.coords span, .title span {
    display: block;
}


.coords .name,.resume > .title {
    font-size: 1em;
    font-weight: bold;
}


.resume > .coords, .resume > .title {
    width: 70%;
    text-align: left;
    margin: 8em 0em 1em 1em;
    position: relative;
    font-size: 1.4em;
}

.resume > .title {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
}

.short.description{
    padding: .5em 1em .5em 1em;
    border: 1px solid black;
    background-color: #DDD;
    margin: 1em;
}
.short.description p {
    margin: 0 0 .2em 0em;
}
.short.description p+p {
    margin-top: 1em;
}

.short.description .plus{
    text-align: right;
}

.description .more{
    margin-top: 1em;
}

/*skills */
section .title {
    font-weight: bold;
}

section > .title{
    display: inline-block;
    font-size: 1.5em;
    color: #888;
    position: relative;
}


.skill {
    margin-top: 0.8em;
}

.skills {
    margin-bottom: 4em;
}

section {
    margin: 0 1em 1em 1em;
    border-left: none;
}

.skills ul, .missions ul {
    width: 95%;
    margin:.2em 0 0 0;
    padding: 0;
}

.skill .title {
    width: 100%;
    display: block;
}

.skill ul:first-of-type{
    margin: 0;
    padding-left: 0;
}

section.switch > span{
    display: inline-block;
    margin-top: 1em;
    font-weight: bold;
}
section.switch > span.hidden{
    display: none;
}

.mission .description p{
    margin: .2em 0 0 0;
}

.mission:first-of-type{
    margin-top: .8em;
}

.mission+.mission{
    margin-top: 2em;
}
.mission .title{
    font-weight: bold;
    width: 80%;
    display: block;
}

.mission .tools ul {
    margin-top: .6em;
}

.formation span {
    display: block;
}

.formation {
    margin-top: 1em;
}

section.side {
    display : none;
}

@media screen and (min-width:800px){
    body {
        font-size: 1em;
    }

    .resume > .coords, .resume > .title{
        width: 40%;
        text-align: center;
        margin: 1em 4em 1em 4em;
        }

    .resume .coords a {
        display: inline;
    }

    .resume .coords a+a:before{
        content: " - ";
    }

    .resume > .title{
        position: absolute;
        right: 0;
        left: inherit;
        margin-top: 0;
    }

    .short.description p+p {
        margin-top: .3em;
    }

    section > .title{
        -webkit-transform-origin: 0em 0em;
        -moz-transform-origin: 0em 0em;
        -ms-transform-origin: 0em 0em;

        position: absolute;
    }

    section {
        border-left: 1px solid grey;
        padding-left: 1em;
        margin-left: 5%;
        margin-bottom: 4em;
        width: 90%;
    }

    section.missions{
        margin-bottom: 0;
    }

    section.missions > .title {
        -webkit-transform: rotate(270deg) translate(-5.7em, -2em);
        -moz-transform: rotate(270deg) translate(-6.6em, -2em);
        -ms-transform: rotate(270deg) translate(-6em, -2em);
    }
    section.skills > .title {
        -webkit-transform: rotate(270deg) translate(-6.5em, -2em);
        -moz-transform: rotate(270deg) translate(-7.2em, -2em);
        -ms-transform: rotate(270deg) translate(-6.8em, -2em);
    }
    section.formations > .title {
    -webkit-transform: rotate(270deg) translate(-4.5em, -2em);
    -moz-transform: rotate(270deg) translate(-5em, -2em);
    -ms-transform: rotate(270deg) translate(-4.5em, -2em);
}

    section.switch {
        border-left: 1px dashed grey;
    }

    .formation+.formation{
        margin-top: 1.5em;
        padding-bottom: 1em;
    }

}

@media screen and (min-width:1200px){
    section.side{
        position: fixed;
        left: 1024px;
        top:50%;
        margin: 0 .5em 0 0;
        padding: 0 1em;
        width: auto;
        border-right:3px solid black;
        border-left:3px solid black;
    }

    section.side {
        display : block;
    }


}
/*
.skill ul{
    margin: 0.3em 0 0 20%;
    padding-left: 4px;
}*/
