/*GENERAL*/
a {
    color: #444;
    text-decoration: none;
}
a:hover 
{
     color:#888; 
     text-decoration:none; 
     cursor:pointer;  
}
body{
    margin : 0;
}

.resume {
	margin-top: 1em;
}

.resume ul {
    list-style-type: none;
    display: inline-block;
    width: 70%;
    margin: 0.3em 0 0 0;
    padding-left: 0;
}

.resume li{
    display: inline;
    font-style: italic;
}

.resume li+li:before{
    content : ", "
}

/*HEADERS*/
.resume {
    position : absolute;
    width: 100%;
    max-width: 1024px;
}
.resume > .coords, .resume > .title{
    width: 40%;
    text-align: center;
    margin: 1em 4em 1em 4em;
}

.coords .name,.resume > .title {
   font-size: 1.2em;
   font-weight: bold;
 }

.resume > .title{
   position: absolute;
   right: 0;
   top: 0;
   margin-top: 0;
 }

.coords span, .title span {
    display: block;
}

/* short description*/
.short.description{
    padding: .5em 1.5em .5em 1.5em;
    border: 1px solid black;
    background-color: #DDD;
    width: 80%;
    margin: 2em auto;
}
.short.description p {
    margin: 0 0 .2em 0em;
}

.short.description .keyword{
    font-weight: bold; 
}

.skills, .missions {
    margin-left: 10%;
    width: 80%;
}

section > .title{
	-webkit-transform-origin: 0em 0em;
	-webkit-transform: rotate(270deg) translate(-6em, -3em);
	display: inline-block;
	font-weight: bold;
	color: #888;
	position: absolute;
}

/*skills*/
.skills {
    margin-bottom: 4em;
    border-left: 1px solid grey;
    padding-left: 1em
}

.skill {
    margin-top: 0.8em;
    
}
.skill .title{
    font-weight: bold;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.skill ul{
    margin: 0.3em 0 0 20%;
    padding-left: 4px;
}

.skill ul:first-of-type{
    margin: 0;
    padding-left: 0;
}


/*missions*/
.missions{
    border-left: 1px solid grey;
    padding-left: 1em
}

.mission{
    margin-top: 2em;
}
.mission .title{
    font-weight: bold;
    width: 80%;
    display: block;
}

.mission .description p {
    margin: 0;
}


